html {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.v-application {
    background-color: rgba($color: #ff9393, $alpha: 0) !important;
    z-index: -1;
}

// Links
a {
    text-decoration: none;
    color: $link !important;
    transition: 0.2s;

    &:hover {
        color: $link-hover !important;
    }
}

.full-height {
    height: 100vh;
}

// Particle background
div[id^='particles-instance-'] {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba($color: #c4ec96, $alpha: 1);
    z-index: -2;
}