// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Overrides
$body-font-family: 'Courier New', serif;

// My variables
$canvas: #8BC34A;
$link: #7a7a7a;
$link-hover: #fff;

@import '~vuetify/src/styles/styles.sass';
