@import "./card.scss";

.card {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "top"
        "bot";
}

.img {
    grid-area: top;
}

.desc {
    grid-area: bot;
}

@media screen and (max-width: #{map-get($grid-breakpoints, 'sm')}) {
    .card {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "left right";
    }

    .left {
        grid-area: left;
    }

    .right {
        grid-area: right;
    }
}
